@page
@{
    ViewData["Title"] = "Órdenes de control de stock";
}

<div class="row">
    <h2 class="d-inline-flex ml-auto">Órdenes de control de stock</h2>

    <div class="d-inline-flex ml-auto mb-2 mr-4">
        <button type="button" class="btn btn-dark px-2">
            <span class="fas fa-plus-square mr-1"></span> Añadir
        </button>
    </div>
</div>

<div id="responsive_table" class="container-fluid">
    <table class="table table-hover text-center" id="stockOrders_table"></table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#responsive_table').addClass('table-responsive');

            var table = $('#stockOrders_table').DataTable({
                dom: '<"top"<"row col-12"<"mt-2"B><"d-inline-flex ml-auto mt-2"l>><"row col-12 mt-2"f>>rt<"bottom"<"row"<"col-8"i><"col-4"p>>>',
                //serverSide: true,
                ajax: {
                    url: '/api/StockOrders',
                    type: 'GET',
                    dataSrc: ''
                },
                columns: [
                    { "title": "ID", "data": "id" },
                    { "title": "Fecha", "data": "date" },
                    {
                        "title": "Detalles", "data": "id", "render": function (data, type, row) {
                            return '<a class="btn btn-primary" href="./Details/' + data + '"><i class="fas fa-search"></i></a>';
                        }
                    },
                    {
                        "title": "Editar", "data": "id", "render": function (data, type, row) {
                            return '<a class="btn btn-warning" href="./Edit/' + data + '"><i class="fas fa-edit"></i></a>';
                        }
                    },
                    {
                        "title": "Eliminar", "data": "id", "render": function (data, type, row) {
                            return '<a class="btn btn-danger" href="./Delete/' + data + '"><i class="fas fa-trash"></i></a>';
                        }
                    }
                ],
                buttons: [
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)',
                        text: 'Columnas',
                        className: 'btn-dark'
                    }
                ],
                "order": [[1, "asc"]],
                "columnDefs": [
                    { "orderable": false, "targets": [2, 3, 4] },
                    { "searchable": false, "targets": [2, 3, 4] }
                ],
                "autoWidth": false,
                "language": {
                    "emptyTable": "Tabla vacía",
                    "lengthMenu": "Mostrar _MENU_ resultados por página",
                    "zeroRecords": "No hay coincidencias con el criterio de búsqueda",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ resultados",
                    "infoEmpty": "No hay resultados para mostrar",
                    "infoFiltered": "(filtrado de un total de _MAX_ resultados)",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Búsqueda:",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
            table.columns([0]).visible(false);
        });
    </script>
    <partial name="_Datatables" />
}
