@page
@{
    ViewData["Title"] = "Órdenes de control de stock";
}

<h2>Órdenes de control de stock</h2>

<div class="table-responsive">
    <table class="table table-hover" id="stock_orders_table"></table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#stock_orders_table").dataTable({
                //serverSide: true,
                ajax: {
                    url: '/api/StockOrders',
                    type: 'GET',
                    dataSrc: ''
                },
                columns: [
                    { "title": "Fecha", "data": "date" },
                    {
                        "title": "Detalles", "data": "id", "render": function (data, type, row) {
                            return '<a class="btn btn-lg" href="./Details/' + data + '"><i class="glyphicon glyphicon-zoom-in"></i></a>';
                        }
                    },
                    {
                        "title": "Editar", "data": "id", "render": function (data, type, row) {
                            return '<a class="btn btn-lg" href="./Edit/' + data + '"><i class="glyphicon glyphicon-edit"></i></a>';
                        }
                    },
                    {
                        "title": "Eliminar", "data": "id", "render": function (data, type, row) {
                            return '<a class="btn btn-lg" href="./Delete/' + data + '"><i class="glyphicon glyphicon-trash"></i></a>';
                        }
                    }
                ]
            });
        });
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/r-2.2.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/r-2.2.2/datatables.min.js"></script>
}